<div class="password-strength" [class.password-strength--weak]="strengthLevel === 'weak'"
     [class.password-strength--medium]="strengthLevel === 'medium'"
     [class.password-strength--strong]="strengthLevel === 'strong'">
  <div class="strength-bar">
    <div class="strength-bar__fill" [class]="'strength-bar__fill--' + strengthLevel"></div>
  </div>

  <ul class="rule-list">
    @for (rule of rules; track rule.label) {
      <li class="rule-list__item" [class.rule-list__item--pass]="rule.passes">
        <mat-icon class="rule-list__icon">{{ rule.passes ? 'check_circle' : 'cancel' }}</mat-icon>
        <span>{{ rule.label }}</span>
      </li>
    }
  </ul>
</div>
